{% load static %}
<html>
    <head>
        <title>kidnapping</title>
        <link href="{%static "css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{%static "css/icofont.css" %}" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#" ><b><u>ANALYSIS OF KIDNAPPING AND ABDUCTION</u> </b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link active" href="/temp">
                            <span class="sr-only">(current)</span><i class="icofont icofont-home text-white icofont-2x"></i> </a>
                    
               </div>
            </div>
          </nav>

        <div class="container pt-4">
            <div class="row" style="font-family:century gothic;box-shadow:0px 0px 10px 0px lightblue;line-height:2;word-spacing:2";>
            
                     <h4>KIDNAPPING RATE IN PUNJAB</h4>
                    <img src={%static "images/k_5.png" %} width="90%" height="400px">
                
                
                
                              
                    <p class="text-justify">
                        The given diagram shows the analysis of the kidnapping rate in 
                        Punjab from 2001-2010. The x-axis shows the Years and the
                        y-axis shows the number of cases reported in Punjab. Clearly from the
                        diagram it can be seen the maximum cases are in the year 2007 and 2010.
                    </p>
                </div>
            
            <div class="row" style="font-family:century gothic;box-shadow:0px 0px 10px 0px lightblue;line-height:2;word-spacing:2 pt-4";>
                
                    <h4>KIDNAPPING OF GIRLS OF AGE 10-15</h4>
                    <img src={%static "images/k_6.png" %} width="90%" height="400px">
            
                <p class="text-justify">
                    The given diagram shows the analysis of rate of kidnapping 
                    of girls under the age 10-15. It shows the top 5 states of
                    india which have maximum rate of kidnapping in this age group.
                       The x-axis shows the Years and the
                    y-axis shows the number of cases reported . Clearly from the
                    diagram it can be seen that Delhi has maximum no of cases.
                </p>
            </div>
        
                
         
            <div class="row" style="font-family:century gothic;box-shadow:0px 0px 10px 0px lightblue;line-height:2;word-spacing:2 pt-4";>
               
                    <h4> AREAS WITH MAXIMUM CASES</h4>
                    <img src={%static "images/k_3.png" %} width="90%" height="400px">
            
    
                    
                    <p class="text-justify">
                        The given diagram shows the analysis of the Areas which have
                        maximum number of cases reported  in 
                        2010. The x-axis shows the Areas and the
                        y-axis shows the number of cases reported in 2010. Clearly
                         from the
                        diagram it can be seen that Uttar Pradesh has maximum 
                        number of cases reported for kidnapping.
                    </p>
                </div>
           
    
        
            <div class="row" style="font-family:century gothic;box-shadow:0px 0px 10px 0px lightblue;line-height:2;word-spacing:2 pt-4";>
                
                     <h4> AREAS WITH MINIMUM CASES</h4>
                    <img src={%static "images/k_4.png" %} width="90%" height="400px">
    
                   
                    <p class="text-justify">
                        The given diagram shows the analysis of the Areas which have
                        minimum number of cases reported  in 
                        2010. The x-axis shows the Areas and the
                        y-axis shows the number of cases reported in 2010. Clearly
                         from the
                        diagram it can be seen that Daman & Diu has minimum 
                        number of cases reported for property stolen.
                    </p>
            
        </div>
        
            <div class="row" style="font-family:century gothic;box-shadow:0px 0px 10px 0px lightblue;line-height:2;word-spacing:2 pt-4";>
                
                     <h4> TOP 5 PURPOSES OF KIDNAPPING</h4>
                    <img src={%static "images/k_1.png" %} width="90%" height="400px">
                
        
                   
                    <p class="text-justify">
                        The given diagram shows the analysis of the purposes
                         which have
                        maximum number of cases reported  in 
                        2010. The x-axis shows the Purpose and the
                        y-axis shows the number of cases reported in 2010. Clearly
                         from the
                        diagram it can be seen that kidnapping for mairrage was the
                        main reson   for kidnapping.
                    </p>
        
        </div>
        
    
            <div class="row" style="font-family:century gothic;box-shadow:0px 0px 10px 0px lightblue;line-height:2;word-spacing:2 pt-4";>
                
                    <h4> BOTTOM 5 PURPOSES OF KIDNAPPING</h4>
                    <img src={%static "images/k_2.png" %} width="90%" height="400px">
                

            
                    
                    <p class="text-justify">
                        The given diagram shows the analysis of the purposes
                         which have
                        minimum number of cases reported  in 
                        2010. The x-axis shows the Purpose and the
                        y-axis shows the number of cases reported in 2010. Clearly
                         from the
                        diagram it can be seen that kidnapping for camel riding was 
                        having minimum no of cases   for kidnapping.
                </p>
        </div>
        
        
    </body>
</html>