{% load static %}
 
<html>
    <head>
        <title>property</title>
        <link href="{%static "css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{%static "css/icofont.css" %}" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Property Stolen In India</a>
  <a class="navbar-brand" href="/temp">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    </div>
</nav>
        <div class="container pt-4">
            <div class="row"style="font-family:century gothic;box-shadow:0px 0px 10px 10px lightblue;line-height:2;word-spacing:2;"">
                
                    <h4 class='pt-2 p-2'>PROPERTY STOLEN RATE IN PUNJAB</h4>
                    <img src={%static "images/punjab.png" %} width="90%" height="400px">
                
        
                
                    <p class='pt-2 p-2'>
                        The given diagram shows the analysis of the property stolen rate in 
                        Punjab from 2001-2010. The x-axis shows the Years and the
                        y-axis shows the number of cases reported in Punjab. Clearly from the
                        diagram it can be seen the maximum cases are in the year 2008 and 2010.
                    </p>
                </div>
            
        
            <div class="row" style="font-family:century gothic;box-shadow:0px 0px 10px 10px lightblue;line-height:2;word-spacing:2;"">
                
                     <h4 class='pt-2 p-2'>STOLEN VS RECOVERED</h4>
                    <img src={%static "images/2.png" %} width="90%" height="400px">
                
                
                    <p class='pt-2 p-2'>
                        The given diagram shows the analysis of the comparison 
                        of property stolen and property recovered  in 
                        Punjab from 2001-2010. The x-axis shows the Years and the
                        y-axis shows the number of cases reported in Punjab. Clearly from the
                        diagram it can be seen the property recovered is very less than the property
                        stolen.
                    </p>
        </div>
         
            <div class="row" style="font-family:century gothic;box-shadow:0px 0px 10px 10px lightblue;line-height:2;word-spacing:2;"">
                
                    <h4 class='pt-2 p-2'> AREAS WITH MAXIMUM CASES</h4>
                    <img src={%static "images/manbeen1.png" %} width="90%" height="400px">
               
                >
                    
                    <p class='pt-2 p-2'>
                        The given diagram shows the analysis of the Areas which have
                        maximum number of cases reported  in 
                        2010. The x-axis shows the Areas and the
                        y-axis shows the number of cases reported in 2005. Clearly
                         from the
                        diagram it can be seen that Karnatka has maximum 
                        number of cases reported for property stolen.
                    </p>
               
        </div>
        
            <div class="row" style="font-family:century gothic;box-shadow:0px 0px 10px 10px lightblue;line-height:2;word-spacing:2;"">
                
                     <h4 class='pt-2 p-2'> Analysis of Andhra Pradesh</h4>
                    <img src={%static "images/manbeen2.png" %} width="90%" height="400px">
               
                
                    <p class='pt-2 p-2'>
                        The given diagram shows the analysis of Andhra Pradesh
                        in 
                        2010. The x-axis shows the Area and the
                        y-axis shows the number of cases reported in 2010. The diagram
                        shows the number of cases at different aspects in Andhra Pradesh.
                        
                    </p>
        
        </div>
        
            <div class="row" style="font-family:century gothic;box-shadow:0px 0px 10px 10px lightblue;line-height:2;word-spacing:2;"">
                
                     <h4 class='pt-2 p-2'> TOP 5 CASES OF LOSS IN PROPERTY</h4>
                    <img src={%static "images/manbeen3.png" %} width="90%" height="400px">
                
                   
                    <p class='pt-2 p-2'>
                        The given diagram shows the analysis of the areas
                         which have
                        maximum number of cases reported  in 
                        2010 for the loss in property. The x-axis shows the number of cases and the
                        y-axis shows the number of cases reported in 2010. Clearly
                         from the
                        diagram it can be seen that Maharashtra has the
                        maximum cases   for property loss.
                    </p>
                
        </div>
        
            <div class="row" style="font-family:century gothic;box-shadow:0px 0px 10px 10px lightblue;line-height:2;word-spacing:2;">
               
                    <h4 class='pt-2 p-2'> BOTTOM 5 CASES OF PROPERTY STOLEN</h4>
                    <img src={%static "images/groups.png" %} width="90%" height="400px">
               
                    <p class='pt-2 p-2'>
                        The given diagram shows the analysis of the purposes
                         which have
                        minimum number of cases reported  in 
                        2010. The x-axis shows the Purpose and the
                        y-axis shows the number of cases reported in 2010. Clearly
                         from the
                        diagram it can be seen that Dacoity is the
                        has minimum number of cases reported for property stolen.
                    </p>
                
        </div>
        
    </body>
</html>