{% load static %}
<html>
    <head>
        <title>page1</title>
        <link href="{%static "css/bootstrap.min.css" %}" rel='stylesheet'>
        <link href="{%static "css/icofont.css" %}" rel='stylesheet'>
    </head>
    <body> 
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <a class="navbar-brand" href="#">&nbsp;ABOUT THE DATASETS &nbsp; </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                      <div class="navbar-nav ml-auto">
                        <a class="nav-item nav-link active" href="/temp">
                                <span class="sr-only">(current)</span><i class="icofont icofont-home text-white icofont-2x"></i> </a>
                        
                      </div>
                    </div>
                  </nav>
            
        <div class="container pt-4">
                <h4 class='text-justify text-center'>KIDNAPPING AND ABDUCTION</h4><hr style='width:100px;border-width:2px;'class='bg-warning'>
                   
            <div class='row'>
                
                <div class='col-md-12 '>
                        
                        <p style='font-family:century gothic;box-shadow:0px 0px 10px 0px lightgray;
                        line-height:2;word-spacing:2;'class='pt-4 p-4'>The dataset comprises of the 
                            information about the cases of kidnapping and abduction that happened from the year 2001 to 2010 
                            the data is distributed statewise and gives year wise trend
                             about the changes in various aspects about the cases 
                            registered.<br/>
                    
                        <b>TOTAL NO OF ROWS:3570</b><br/>
                       <b>TOTAL INSTANCES:20</b> </p>
                </div>
                </div>
    
        
     
    
            <h5 class="text-center pb-4 pt-3"><b>The columns are enlisted as under:</b></h5>
            <div class="container-fluid">
            <div class='row'>
                    <div class='col-md-5 pb-4'>
                            <img src={%static "images/download.jpg" %} width="100%" height="250px">
                        </div>
                        <div class='col-md-1'></div>
                        <div class="col-md-6">
                            <div class='row'>
                            <div class="col-md-6 pb-4">
                                <ul class="list-group"> 
                                    <li >Area Name
                                    </li>
                                    <li > Year
                                    </li>
                                    <li >Group_Name
                                    </li>
                                    <li >Sub_Group_Name
                                    </li>
                                    <li >K_A_Cases_Reported
                                    </li>
                                    <li >K_A_Female_10_15_Years
                                    </li>
                                    <li >K_A_Female_15_18_Years
                                    </li>
                                    <li >K_A_Female_18_30_Years
                                    </li>
                                    <li >K_A_Female_30_50_Years
                                    </li>
                                    <li >K_A_Female_Above_50_Years
                                    </li>
                                    
                                </ul>
                                </div>
                             <div class="col-md-6 pb-4">
                                 <ul>
                                        <li >K_A_Female_Total
                                            </li>
                                    <li >K_A_Female_Upto_10_Years
                                    </li>
                                    <li >K_A_Female_Grand_Total
                                    </li>
                                    <li >K_A_Male_10_15_Years
                                    </li>
                                    <li >K_A_Male_15_18_Years
                                    </li>
                                    <li >K_A_Male_18_30_Years
                                    </li>
                                    <li >K_A_Male_30_50_Years
                                    </li>
                                    <li >K_A_Male_Above_50_Years
                                    </li>
                                    <li >K_A_Male_Total
                                    </li>
                                    <li >K_A_Male_Upto_10__Years
                                    </li>
                                </ul>
                            </div>
                        </div>
                        </div>   
                    </div>
                        </div>
                            
                         </body>
                    </html>
                            
