{% load static %}
<html>
    <head>
        <title>page1</title>
        <link href="{%static "css/bootstrap.min.css" %}" rel='stylesheet'>
        <link href="{%static "css/icofont.css" %}" rel='stylesheet'>
    </head>
    <body> 
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <a class="navbar-brand" href="#">&nbsp;ABOUT THE DATASETS &nbsp; </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                      <div class="navbar-nav ml-auto">
                        <a class="nav-item nav-link active" href="/temp">
                                <span class="sr-only">(current)</span><i class="icofont icofont-home text-white icofont-2x"></i> </a>
                        
                      </div>
                    </div>
                  </nav>
            
        <div class="container pt-4">
                <h4 class='text-justify text-center'>CRIME AGAINST WOMEN</h4><hr style='width:100px;border-width:2px;'class='bg-warning'>
                   
            <div class='row'>
                
                <div class='col-md-12 '>
                        
                        <p style='font-family:century gothic;box-shadow:0px 0px 10px 0px lightgray;
                        line-height:2;word-spacing:2;'class='pt-4 p-4'>The dataset comprises of the info
                         about the cases under crime that happened against women from the year 2001 to 2010 
                            the data is distributed statewise and gives year wise trend about the changes in various aspects about the cases 
                            registered.<br/>
                    
                        <b>TOTAL NO OF ROWS:2765</b><br/>
                       <b>TOTAL INSTANCES:22</b> </p>
                </div>
                </div>
    
        
     
    
            <h5 class="text-center pb-4 pt-3"><b>The columns are enlisted as under:</b></h5>
            <div class="container-fluid">
            <div class='row'>
                    <div class='col-md-5'>
                            <img src={%static "images/images (1).jpeg" %} width="100%" height="350px">
                        </div>
                        <div class='col-md-1'></div>
     <div class="col-md-6" style="font-family:century gothic;">
                     <ul style="list-style: square;;">
             <li>Area_name</li>
             <li >Year</li>
             <li >Group_Name</li>
            <li>Cases_Acquitted_or_Discharged</li>
            <li>Cases_Chargesheeted</li>
            <li>Cases_Compounded_or_Withdrawn</li>
            <li>Cases_Convicted</li>
            <li>Cases_Convicted</li>
            <li>Cases_Declared_False_on_Account_of_Mistake_of_Fact_or_of_Law</li>
            <li>Cases_Investigated_Chargesheets+FR_Submitted</li>
            <li>Cases_Pending_Investigation_at_Year_End</li>
            <li>Cases_Pending_Trial_at_Year_End</li>
            <li>Cases_Reported,Cases_Sent_for_Trial</li>
            <li>Cases_Withdrawn_by_the_Govt</li>
            <li>Total_Cases_for_Trial</li>
             
         </ul>
        </div>
        
     </div>
    </div>
     
                
            
    </div>   
    </div>
    <div class="container-fluid pt-4">
    <div class='row'>
            <div class='col-md-12 pb-2 '>
                    
                <h4 class='text-justify text-center'>VICTIMS OF RAPE</h4><hr style='width:100px;border-width:2px;'class='bg-warning'>
                    <p style='font-family:century gothic;box-shadow:0px 0px 10px 0px lightgray;line-height:2;word-spacing:2;'class='pt-4 p-4'>The dataset comprises of the inforamation
                         about the women rape cases from the year 2001 to 2010 
                        the data is distributed statewise and gives year wise trend about the changes in various aspects about the cases 
                        registered.<br/>
                
                    <b>TOTAL NO OF ROWS:1051</b><br/>
                   <b>TOTAL INSTANCES:11</b> </p>
            </div>
            </div>

            <h5 class="text-center pb-4 pt-3"><b>The columns are enlisted as under:</b></h5>
            <div class="container-fluid">
            <div class='row'>
                    <div class='col-md-5'>
                            <img src={%static "images/images (2).jpeg" %} width="100%" height="255px">
                        </div>
                        <div class='col-md-1'></div>
     <div class="col-md-6" style="font-family:century gothic;">
                     <ul style="list-style: square;;">
         <li>Area_name</li>
         <li >Year</li>
         <li >Subgroup</li>
        <li>Rape_Cases_Reported</li>
        <li>Victims_Above_50_Yrs
            </li>
        <li>Victims_Between_10-14_Yrs
            </li>
        <li>Victims_Between_14-18_Yrs
            </li>
        <li>Victims_Between_18-30_Yrs
            </li>
        <li>Victims_Between_30-50_Yrs
    </li>
        <li>Victims_of_Rape_Total
            </li>
        <li>Victims_Upto_10_Yrs
            </li>
        
         
     </ul>
    </div>
 </div>
</div>
 
            
        
</div>   
</div>
    </div>
        
     </body>
</html>