{% load static %}
<html>
    <head>
        <title>page</title>
        <link href='{%static 'css/bootstrap.min.css' %}' rel='stylesheet'>
        <link href='{%static 'css/icofont.css' %}' rel='stylesheet'>
    </head>
    <body>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <a class="navbar-brand" href="#" ><b><u>ANALYSIS OF CRIME AGAINST WOMEN AND RAPE CASES</u> </b></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                      <div class="navbar-nav ml-auto">
                            <a class="nav-item nav-link active" href="/temp">
                                    <span class="sr-only">(current)</span><i class="icofont icofont-home text-white icofont-2x"></i> </a>
                            
                       </div>
                    </div>
                  </nav>
        
        <div class="container pt-4">
                

        <div class="row" style='font-family:century gothic;box-shadow:0px 0px 10px 10px lightblue;line-height:2;word-spacing:4;'>
                <h3 class='pt-2 p-2'><i><b> CASES OF CRIME AGAINST WOMEN OVER 10 YEARS</b></i></h3>
        
            <img src={%static 'images/p1.png' %}  width='90%' height='400px' class='rounded border p-2  pt-4'>
            
        
           
            
            <p class='pt-2 p-2'><i>The plot depicts the yearwise increase in the Cases reported,Cases chargesheeted,Cases convicted,Cases not investigated or in which investigation was refused,Cases for which trials completed,Cases withdrawn by the Govt, Cases withdrawn by the Govt during investigation,Cases pending trial at end of year that accounted in <b> DELHI </b>,the capital of INDIA from the year <b>2001 TO 2010</b> showing a downfall in the year<b>2008</b></i></p>.
            
        </div>
    
    
        <div class="row pt-4" style='font-family:century gothic;box-shadow:0px 0px 10px 10px lightblue;line-height:2;word-spacing:4;'>
                <h3 class='pt-2 p-2'><i><b>CASES OF SEXUAL HARASSMENT OVER 10 YEARS</b></i></h3>
        
            <img src={%static 'images/p2.png' %} width='90%' height='400px' class='rounded border p-2  pt-4'>

        
        
            
            
            <p class='pt-2 p-2'><i>The plot depicts the cases reported and total cases for trial against <b>SEXUAL HARASSMENT</b> in <b> INDIA </b> from the year <b>2001 TO 2010</b> showing a rise of crime in the year <b>2003</b>.</i>
            </p>
        
        </div>
    
    
        <div class="row pt-4"style='font-family:century gothic;box-shadow:0px 0px 10px 10px lightblue;line-height:2;word-spacing:4;'>
                <h3 class='pt-2 p-2'><i><b>AREAS WITH CASES OF HIGHEST DOWRY DEATHS</b></i></h3>
            <img src={%static 'images/p3.png' %} width='90%' height='400px' class='rounded border p-2  pt-4'>

        
            
            <p class='pt-2 p-2'><i>The plot depicts the top five areas in <b>INDIA</b> with highest no of <b> DOWRY DEATHS </b>from the year <b>2001 TO 2010</b> showing that the maximum dowry deaths happened in <b>UTTARPRADESH</b>.</i>
            </p>
        </div>
    
    
        
        <div class="row pt-4"style='font-family:century gothic;box-shadow:0px 0px 10px 10px lightblue;line-height:2;word-spacing:4;'>
                <h3 class='pt-2 p-2'><i><b>FIVE STATES WITH HIGHEST RAPE CASES</b></i></h3>
                    <img src= {%static 'images/p6.png' %} width='90%' height='400px' class='rounded border p-2  pt-4'>
        
               
                    
                    <p class='pt-2 p-2'><i>The plot depicts the <b>TOP 5 STATES</b> with <b>RAPE CASES</b> among the <b>victims having age of 10 years </b>IN the year <b> 2010</b> with <b>MAHARASHTRA</b> having the highest degree of rape cases.</i>
                    </p>
                </div>
            
            <div class="row pt-4"style='font-family:century gothic;box-shadow:0px 0px 10px 10px lightblue;line-height:2;word-spacing:4;'>
                    <h3 class='pt-2 p-2'><i><b>RAPE CASES OVER THE PAST 10 YEARS</b></i></h3>
            <img src={%static 'images/p7.png' %} width='90%' height='400px' class='rounded border p-2  pt-4'>

       
        
            <p class=' p-2'><i>The plot depicts the <b>RAPE CASES </b> among the <b>Victims Between 10-14 Yrs,
                    Victims Upto 10 Yrs , Victims Between 14-18 Yrs,Victims Above 50 Yrs</b> from the year <b>2001 TO 2010</b> encountered in <b>PUNJAB</b> showing that the maximum rape cases for age group of 10-14 years happened in the year<b>2009</b>,age upto 10 years happened in the year<b>2009</b>,age group of 14-18 years happened in the year<b>2001</b>,age above 50 years happened in the year <b>2008</b>.</i>
            </p>
        </div>
    </div>
</body>
</html>
    